<ng-include src="'common/tpls/table_head.tpl.html'"></ng-include>
<div class="col-xs-12 margin-t-15">
    <table id="no-more-tables" class="table table-hover table-condensed fs-14">
        <div class="col-xs-12 pad-0 pad-b-20">
            <ul class="nav nav-pills">
                <li ui-sref="setup.documents({document_type: 'ALL'})" ui-sref-active="active"><a>ALL</a></li>
                <li ui-sref="setup.documents({document_type: 'NORMAL', page: 1})" ui-sref-active="active"><a>COMMON</a></li>
                <li ui-sref="setup.documents({document_type: 'Facility_ChecKList', page: 1})" ui-sref-active="active"><a>CHECKLISTS</a></li ui-sref="" ui-sref-active="active">
            </ul>
        </div>
        <thead class="cf">
            <th sil-grid-sort field='name'>Name</th>
            <th>Description</th>
            <th>Link</th>
            <th class="text-right">Actions</th>
        </thead>
        <tbody class="example-animate-container">
            <tr class="animate-repeat" ng-repeat="doc in documents">
                <td data-title="Name" class="pad-t-15">{{::doc.name}}</td>
                <td data-title="Description" class="pad-t-15">{{::doc.description}}</td>
                <td data-title="Link" class="pad-t-15"><a target="_blank" download ng-href="{{doc.fyl}}">{{::doc.fyl}}</a></td>
                <td class="text-right">
                    <a class="btn btn-success" tooltip-placement="bottom" tooltip="View Document" ui-sref="setup.documents.edit({document_id:doc.id})">View</a>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="documents.length===0">
            <tr><td class="text-center" colspan="9">Sorry, no data is available</td></tr>
        </tbody>
    </table>
    <sil-grid-pagination> </sil-grid-pagination>
</div>
