<div class="col-xs-12">
    <div class="col-xs-12">
        <drf-err-msg></drf-err-msg>
    </div>
    <div class="col-xs-12">
        <span class="pull-right">
            <button ng-show="!create" class="btn btn-primary" ng-click="changeView('view')">
                View Facility infrastructure
            </button>
        </span>
    </div>
    <div class="col-xs-12 margin-t-5 pad-0">
        <div class="col-sm-4 col-xs-12">
            <div class="col-xs-12 category-title pad-0">
                <h4>Categories</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="category.query" placeholder="Search Categories">
                </div>
            </div>
            <div class="category-list fade-content">
                <div class="category-item col-xs-12"
                    ng-repeat="cat in categories | filter : category.query | orderBy:'name'"
                    ng-click="showInfrastructure(cat)" ng-class="{'active-item' : cat.selected}">
                    <span class="col-xs-10">{{cat.name}}</span>
                    <span class="col-xs-2 pointer">
                        <i class="fa fa-chevron-right pull-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 fade-content">
            <div class="col-xs-12 category-title pad-0">
                <h4>Infrastructure</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="infra.query" placeholder="Search Infrastructure">
                </div>
            </div>
            <div class="service-list col-xs-12 pad-0">
                <div class="service-item col-xs-12 pad-0"
                    ng-repeat="infras in cat_infrastructure | filter : infra.query">
                    <div class="col-xs-5 margin-t-15 margin-b-10">{{infras.name || infras.infrastructure_name}}</div>
                    <div class="col-xs-3 pad-0 margin-t-10">
                        <div class="form-group checkbox margin-t-1">
                            <label for="infra_present_yes">
                                <input type="checkbox" id="infras{{$index}}" name="infras{{$index}}"
                                    ng-model="infras.present" ng-checked="infras.present"
                                    ng-change="infrastructureDisplay(infras)">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3 pad-0 margin-t-10">
                        <div class="form-group checkbox margin-t-1">
                            <label for="service_option_no">
                                <input type="number" ng-disabled="!infras.present" id="infras-count-{{$index}}"
                                    name="infras{{$index}}" ng-model="infras.count" ng-value="infras.count"
                                    ng-change="infrastructureDisplay(infras)">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 pad-0 margin-t-5 text-center">
                    <a ng-click="removeInfrastructure(infras)" style="cursor: pointer;" 
                    ng-if="infras.present" tooltip="Delete Infrastructure">
                        <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                    </a>
                </div>
                </div>
                <div ng-if="cat_infrastructure.length === 0 || !cat_infrastructure"
                    class="service-item col-xs-12 text-blue pad-t-10 pad-b-10">
                    <i class="fa fa-info-circle"></i> No Infrastructure Listed
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-t-20" ng-show="true">
        <div class="col-xs-12 pad-0">
            <table class="table table-fixed fs-14">
                <thead class="table-head">
                    <th class="col-xs-3">Name</th>
                    <th class="col-xs-3">Category&nbsp;&nbsp;</th>
                    <th class="col-xs-3">Present&nbsp;&nbsp;</th>
                    <th class="col-xs-3">Number&nbsp;&nbsp;</th>
                </thead>
                <tbody class="table-list fade-content text-left">
                    <tr class="table-item" ng-repeat="infras in infrastructure track by $index"
                        ng-show="infras.present">
                        <td data-title="Name:" class="col-xs-3">
                            {{infras.name || ""}}
                        </td>
                        <td data-title="Category:" class="col-xs-3">
                            {{infras.category_name || ""}}
                        </td>
                        <td data-title="Present:" class="col-xs-3">
                            <span ng-if="infras.present">
                                Yes
                            </span>
                            <span ng-if="!infras.present">
                                No
                            </span>
                            &nbsp;&nbsp;&nbsp;
                        </td>
                        <td data-title="Category:" class="col-xs-3">
                            {{infras.count || 0}}
                        </td>
                    </tr>
                    <tr class="table-item" ng-if="infrastructure.length === 0" class="alert alert-info">
                        <td colspan="4" class="col-xs-12">
                            <i class="fa fa-info-circle"></i> No infrastructure assigned to this facility
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>