<div class="col-xs-12">
    <div class="col-xs-12">
        <drf-err-msg></drf-err-msg>
    </div>
    <div class="col-xs-12">
        <span class="pull-right">
            <button ng-show="!create" class="btn btn-primary" ng-click="changeView('view')">
                View Facility HR
            </button>
        </span>
    </div>
    <div class="col-xs-12 margin-t-5 pad-0">
        <div class="col-sm-4 col-xs-12">
            <div class="col-xs-12 category-title pad-0">
                <h4>Categories</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="category.query" placeholder="Search Categories">
                </div>
            </div>
            <div class="category-list fade-content">
                <div class="category-item col-xs-12"
                    ng-repeat="cat in hr_categories | filter : category.query | orderBy:'name'" ng-click="showHR(cat)"
                    ng-class="{'active-item' : cat.selected}">
                    <span class="col-xs-10">{{cat.name}}</span>
                    <span class="col-xs-2 pointer">
                        <i class="fa fa-chevron-right pull-right"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 fade-content">
            <div class="col-xs-12 category-title pad-0">
                <h4>HR Specialities</h4>
                <div class="form-group">
                    <input class="form-control" ng-model="h_r.query" placeholder="Search Specialties">
                </div>
            </div>
            <div class="service-list col-xs-12 pad-0">
                <div class="col-xs-12 pad-0 text-center" ng-if="cat_hr && cat_hr.length > 0" style="position: sticky; top: 0; z-index: 2; background-color: #e8e8e8; font-weight: 600;">
                    <div class="text-uppercase text-black col-xs-5" style="padding: 7px 3px;"> Speciality </div>
                    <div class="text-uppercase text-black col-xs-4" style="padding: 7px 3px;"> Present </div>
                    <div class="text-uppercase text-black col-xs-2" style="padding: 7px 3px;"> Number </div>
                    <div class="text-uppercase text-black col-xs-1" style="padding: 7px 3px;"> &nbsp; </div>
                </div>
                <div class="service-item col-xs-12 pad-0" ng-repeat="speclt in cat_hr | filter : h_r.query">
                    <div class="col-xs-5 margin-t-15 margin-b-10">
                        <span>{{ speclt.name || speclt.abbreviation || speclt.description }}</span>
                        <!-- <br /> <small>({{speclt || ""}})</small> -->
                    </div>
                    <div class="col-xs-4 pad-0 margin-t-10">
                        <div class="form-group checkbox margin-t-1">
                            <label for="service_option_yes">
                                <input type="checkbox" id="speclt{{$index}}" name="speclt{{$index}}"
                                    ng-model="speclt.present" ng-checked="speclt.present" ng-change="hrDisplay(speclt)">
                                    Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-2 pad-0 margin-t-10">
                        <div class="form-group checkbox margin-t-1">
                            <label for="service_option_no">
                                <input type="number" ng-disabled="!speclt.present" id="speclt-count-{{$index}}" name="speclt{{$index}}"
                                    ng-model="speclt.count" ng-value="speclt.count" ng-change="hrDisplay(speclt)">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 pad-0 margin-t-5 text-center">
                        <a ng-click="removeOption(speclt)" style="cursor: pointer;" ng-if="speclt.option"
                            tooltip="Delete HR item">
                            <i class="fa fa-times-circle fa-2x grid-inputs text-danger"></i>
                        </a>
                    </div>
                </div>
                <div ng-if="cat_h_r.length === 0 || !cat_hr" class="service-item col-xs-12 text-blue pad-t-10 pad-b-10">
                    <i class="fa fa-info-circle"></i> No specialties for the chosen category
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-t-20" ng-show="true">
        <div class="col-xs-12 pad-0">
            <table class="table table-fixed fs-14">
                <thead class="table-head">
                    <th class="col-xs-5">Name</th>
                    <th class="col-xs-5 text-center">Present&nbsp;&nbsp;</th>
                    <th class="col-xs-2 text-center">Number&nbsp;&nbsp;</th>
                </thead>
                <tbody class="table-list fade-content">
                    <tr class="table-item" ng-repeat="h_r in hr track by $index" ng-show="h_r.present">
                    <!-- <tr class="table-item" ng-repeat="h_r in facility_hr track by $index" ng-show="h_r"> -->
                        <td data-title="Name:" class="col-xs-5">
                            {{h_r.name || h_r.speciality_name}}
                        </td>
                        <td data-title="Present:" class="text-center col-xs-5">
                            <span ng-if="h_r.has_options">
                                {{h_r.option | optionName:h_r.hr_options}}
                            </span>
                            <span ng-if="!h_r.has_options">
                                Yes
                            </span>
                            &nbsp;&nbsp;
                        </td>
                        <td data-title="Number:" class="text-center col-xs-2">
                            <span ng-if="h_r.count">
                                {{h_r.count || 0}}
                            </span>
                            &nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr class="table-item" ng-if="hr.length === 0" class="alert alert-info">
                        <td colspan="4" class="col-xs-12">
                            <i class="fa fa-info-circle"></i> No HR data for this facility
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>