<div class="col-md-6 col-xs-12">
    <span class="pull-left col-xs-12 pad-0">
        <label class="text-black">Open weekends </label>
        <span ng-show="facility.open_weekends" class="text-success">
            <i class="fa fa-check-circle-o fa-1x fs-15"></i>
        </span>
        <span ng-hide="facility.open_weekends" class="text-danger">
            <i class="fa fa-times-circle-o fa-1x fs-15"></i>
        </span>
    </span>
    <span class="pull-left col-xs-12 pad-0">
        <label class="text-black">Open on public holidays </label>
        <span ng-show="facility.open_public_holidays" class="text-success">
            <i class="fa fa-check-circle-o fa-1x fs-15"></i>
        </span>
        <span ng-hide="facility.open_public_holidays" class="text-danger">
            <i class="fa fa-times-circle-o fa-1x fs-15"></i>
        </span>
    </span>
    <span class="pull-left col-xs-12 pad-0">
        <label class="text-black">Open 24 hours </label>
        <span ng-show="facility.open_whole_day" class="text-success">
            <i class="fa fa-check-circle-o fa-1x fs-15"></i>
        </span>
        <span ng-hide="facility.open_whole_day" class="text-danger">
            <i class="fa fa-times-circle-o fa-1x fs-15"></i>
        </span>
    </span>
    <span class="pull-left col-xs-12 pad-0">
        <label class="text-black">Open from 8 A.M to 5 P.M </label>
        <span ng-if="facility.open_normal_day" class="text-success">
            <i class="fa fa-check-circle-o fa-1x fs-15"></i>
        </span>
        <span ng-if="!facility.open_normal_day" class="text-danger">
            <i class="fa fa-times-circle-o fa-1x fs-15"></i>
        </span>
    </span>
    <span class="pull-left pad-0 col-xs-12">
        <label class="text-black">Keph Level: </label>
        {{facility.keph_level_name}}
    </span>
    <span ng-if="facility.facility_catchment_population" class="col-xs-12 pad-0">
        <label class="text-black">Facility Catchment Population: </label>
        {{facility.facility_catchment_population}}
    </span>
    <span class="col-xs-12 pad-0">
        <label class="text-black">Facility accredited Lab ISO 15189 : </label>
        <span ng-if="facility.accredited_lab_iso_15189" class="text-success">
            <b><i class="fa fa-check-circle-o fa-1x fs-15"></i> Yes</b>
        </span>
        <span ng-if="!facility.accredited_lab_iso_15189" class="text-danger">
            <b><i class="fa fa-times-circle-o fa-1x fs-15"></i> No</b>
        </span>
    </span>
    <span class="col-xs-12 pad-0">
        <label class="text-black">Has NHIF Accreditation : </label>
        <span ng-if="facility.nhif_accreditation" class="text-success">
            <b><i class="fa fa-check-circle-o fa-1x fs-15"></i> Yes</b>
        </span>
        <span ng-if="!facility.nhif_accreditation" class="text-danger">
            <b><i class="fa fa-times-circle-o fa-1x fs-15"></i> No</b>
        </span>
    </span>
    <span class="col-xs-12 pad-0">
        <label class="text-black">Reports to KHIS : </label>
        <span ng-if="facility.reporting_in_dhis" class="text-success">
            <b><i class="fa fa-check-circle-o fa-1x fs-15"></i> Yes</b>
        </span>
        <span ng-if="!facility.reporting_in_dhis" class="text-danger">
            <b><i class="fa fa-times-circle-o fa-1x fs-15"></i> No</b>
        </span>
    </span>
    <span class="col-xs-12 pad-0">
        <label class="text-black">Date Established: </label>
        {{facility.date_established | date}}
    </span>
</div>
<div class="col-md-6 col-xs-12">
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Functional general Beds: </label>
        <b>{{facility.number_of_beds}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Functional cots: </label>
        <b>{{facility.number_of_cots}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black"> Emergency Casualty Beds: </label>
        <b>{{facility.number_of_emergency_casualty_beds}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Intensive Care Unit (ICU) Beds: </label>
        <b>{{facility.number_of_icu_beds}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">High Dependency Unit (HDU) Beds: </label>
        <b>{{facility.number_of_hdu_beds}}</b>
    </span>
    <!-- <Additions> -->
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Maternity beds: </label>
        <b>{{facility.number_of_maternity_beds}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Isolation beds: </label>
        <b>{{facility.number_of_isolation_beds}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <u class="text-black">TOTAL inpatient beds:</u> &nbsp;
        <span style="font-weight: 700;">{{( (facility.number_of_isolation_beds ||0) + (facility.number_of_maternity_beds ||0) + (facility.number_of_hdu_beds ||0) + (facility.number_of_icu_beds ||0) + (facility.number_of_emergency_casualty_beds ||0) + (facility.number_of_beds ||0) + (facility.number_of_cots ||0) || 0)}}</span>
    </span>
    <!-- </Additions> -->
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Facility admitting General &amp; Maternity patients: </label>
        <span ng-if="facility.admitting_maternity_general" class="text-success">
            <b><i class="fa fa-check-circle-o fa-1x fs-15"></i> Yes</b>
        </span>
        <span ng-if="!facility.admitting_maternity_general" class="text-danger">
            <b><i class="fa fa-times-circle-o fa-1x fs-15"></i> No</b>
        </span>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Facility admitting Maternity patients <u>only</u>: </label>
        <span ng-if="facility.admitting_maternity_only" class="text-success">
            <b><i class="fa fa-check-circle-o fa-1x fs-15"></i> Yes</b>
        </span>
        <span ng-if="!facility.admitting_maternity_only" class="text-danger">
            <b><i class="fa fa-times-circle-o fa-1x fs-15"></i> No</b>
        </span>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">General Theatres: </label>
        <b>{{facility.number_of_general_theatres}}</b>
    </span>
    <span class="content-right pad-0 col-xs-12">
        <label class="text-black">Maternity Theatres: </label>
        <b>{{facility.number_of_maternity_theatres}}</b>
    </span>
</div>