<div class="col-xs-12 margin-b-20 content-card fade-content">
<!--<div class="alert alert-info margin-t-10 margin-r-20" ng-if="chus.length === 0">-->
<!--    <p class="lead fs-16 fw-600" >-->
<!--       <i class="fa fa-info-circle"></i> No Regulation for the Facility-->
<!--    </p>-->
<!--</div>-->
<span class="col-xs-12">
                <div class="well ng-scope" ng-if="facility.facility_checklist_document.url">
                    <div>
                        <a target="download" download href="media/{{facility.facility_checklist_document.url}}" tooltip="Click to download document">
                            {{facility.facility_checklist_document.url}}
                        </a>
                    </div>
                </div>
            </span>
</div>
