<div class="col-xs-12 content-card">
    <div class="col-xs-12 fade-content">
        <table id="no-more-tables" class="table table-hover fs-14">
            <thead>
                <th class="col-xs-1">#</th>
                <th class="col-xs-4">Specialist Name</th>
                <th class="col-xs-4">Present</th>
                <th class="col-xs-3 text-center">Number</th>
            </thead>
            <tbody>
                <tr ng-repeat="hr in facility.facility_specialists">
                    <td data-title="#">
                        {{$index + 1}}
                    </td>
                    <td data-title="Specialist Name">
                        {{hr.name || hr.speciality_name}}
                    </td>
                    <td data-title="Present">
                        Yes
                    </td>
                    <td data-title="Number" class="text-center">
                        {{hr.count || 0}}
                    </td>
                </tr>
                <tr ng-if="facility.facility_specialists.length < 1">
                    <td colspan="4" class="alert alert-info">
                            <i class="fa fa-info-circle"></i>No specialists found in the facility
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
